*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
section.main {
    background: #0e0e0e;
    color: white;
    padding: 50px 0px;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: arial black;
}

p {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    font-family: monospace;
}
.pic {
    width: 500px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}

img {
    width: 100%;
}
h2.har {
    text-align: center;
    font-size: 40px;
    color: #00ffd0;
    text-transform: uppercase;
}